.back-button {
  position: absolute;
  top: 7rem;
  left: 1rem;
}
.title {
  // margin-top: 50px;
}
.content {
  margin: 0 20px 0 20px;
  text-align: justify;
}
.botton-space {
  margin-bottom: 20vh;
}
::ng-deep app-course-content .p-card .p-card-body {
  padding-top: 80px;
}
