
<div class="campo-mensagem">
  <input type="text" [(ngModel)]="mensagem" (keyup.enter)="enviarMensagem()"  placeholder="Digite sua mensagem" class="input-mensagem" novalidate>
  <button pButton type="button" (click)="enviarMensagem()" icon="pi pi-send" class="botao-enviar"></button>
</div>
<div class="margin-bottom">
  <ng-container *ngFor="let message of historicoMensagens">
    <ng-container *ngIf="message.isSearchMessage; else elseTemplate">
        <app-search-message-ai [nome]="message.nome" [cardsData]="message.results" [dataEnvio]="message.dataEnvio"></app-search-message-ai>
    </ng-container>
    <ng-template #elseTemplate>
      <app-menssage [menssage]="false" [classe]="message.me ? 'me' : ''" [content]="message.content"  [nome]="message.nome" [dataMensagem]="message.dataEnvio"></app-menssage>
    </ng-template>

  </ng-container>

</div>
