/* Estilos para manter a barra de navegação inferior na parte inferior da tela */
.content {
  position: relative;
  margin-bottom: -60px; /* Altura da barra de navegação */
  padding-bottom: 60px; /* Altura da barra de navegação */
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #60ff1dff;
  color: #071800;
}

.nav-button {
  flex: 1;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-link {
  background-color: #002e13;
  background-color: #004b1f;
  color: white;
}

.nav-title {
  margin-top: 4px;
}
